:host([data-render-mode='shadow']) .kdds-box,
:host([data-render-mode='shadow']) ::slotted(.kdds-box) {
    padding: var(--kdds-g-spacing-4, 1rem);
    border-radius: var(--kdds-g-spacing-1, 0.25rem);
    border: var(--kdds-g-sizing-border-1, 1px) solid
        var(--kdds-g-color-border-base-1, #e5e5e5);
}

:host([data-render-mode='shadow']) .kdds-box_xx-small,
:host([data-render-mode='shadow']) ::slotted(.kdds-box_xx-small) {
    padding: var(--kdds-g-spacing-1, 0.25rem);
}

:host([data-render-mode='shadow']) .kdds-box_x-small,
:host([data-render-mode='shadow']) ::slotted(.kdds-box_x-small) {
    padding: var(--kdds-g-spacing-2, 0.5rem);
}

:host([data-render-mode='shadow']) .kdds-box_small,
:host([data-render-mode='shadow']) ::slotted(.kdds-box_small) {
    padding: var(--kdds-g-spacing-3, 0.75rem);
}
