
/* re-assign current slds hooks using deprecated naming conventions */
:host([data-render-mode="shadow"]) {
  /* stylelint-disable */
  --kdds-c-toast-spacing-blockend: var(--kdds-c-toast-spacing-block-end);
  --kdds-c-toast-spacing-blockstart: var(--kdds-c-toast-spacing-block-start);
  --kdds-c-toast-spacing-inlineend: var(--kdds-c-toast-spacing-inline-end);
  --kdds-c-toast-spacing-inlinestart: var(--kdds-c-toast-spacing-inline-start);
  /* stylelint-enable */
}
:host([data-render-mode="shadow"]) .kdds-notify_toast {
  display: inline-flex;
  align-items: center;
  position: relative;
  background: none;
  background-color: var(--kdds-c-toast-color-background, var(--kdds-g-info-container-1));
  color: var(--kdds-c-toast-text-color, var(--kdds-g-color-on-info-1));
  border-radius: var(--kdds-c-toast-radius-border, var(--kdds-g-radius-border-2));
  margin: var(--kdds-g-spacing-2);
  padding-block-start: var(--kdds-c-toast-spacing-blockstart, var(--kdds-g-spacing-3));
  padding-inline-end: var(--kdds-c-toast-spacing-inlineend, var(--kdds-g-spacing-8));
  padding-block-end: var(--kdds-c-toast-spacing-blockend, var(--kdds-g-spacing-3));
  padding-inline-start: var(--kdds-c-toast-spacing-inlinestart, var(--kdds-g-spacing-5));
  min-width: var(--kdds-c-toast-sizing-min-width, var(--kdds-g-sizing-16));
  text-align: left;
  justify-content: flex-start;
}
:host([data-render-mode="shadow"]) .kdds-notify_toast a {
  color: currentcolor;
  border: var(--kdds-g-sizing-border-1) solid transparent;
  border-radius: var(--kdds-g-radius-border-2);
}
:host([data-render-mode="shadow"]) .kdds-notify_toast a:hover,:host([data-render-mode="shadow"]) 
.kdds-notify_toast a:focus {
  text-decoration: none;
  outline: 0;
}
:host([data-render-mode="shadow"]) .kdds-notify_toast a:focus {
  box-shadow: 0 0 3px var(--kdds-g-info-container-1);
  border: var(--kdds-g-sizing-border-1) solid var(--kdds-g-color-on-info-1);
}
:host([data-render-mode="shadow"]) .kdds-notify_toast a:active {
  color: var(--kdds-g-color-neutral-100-opacity-50, rgba(255, 255, 255, 50%));
}
:host([data-render-mode="shadow"]) .kdds-notify_toast a[disabled] {
  color: var(--kdds-g-color-neutral-100-opacity-10, rgba(255, 255, 255, 15%));
}
:host([data-render-mode="shadow"]) .kdds-notify_toast .kdds-notify__close {
  float: right;
  position: absolute;
  top: var(--kdds-g-spacing-3);
  right: var(--kdds-g-spacing-3);
  margin-inline-start: var(--kdds-g-spacing-1);
  transform: translateY(-0.125rem);
}
:host([data-render-mode="shadow"]) .kdds-region_narrow .kdds-notify_toast {
  min-width: auto;
  width: 100%;
  margin-inline-start: 0;
}
/* TODO W-12674349: remove after name-value-list utils are added */
:host([data-render-mode="shadow"]) .kdds-list--inline {
  display: inline-flex;
  max-width: 100%;
}
/* TODO W-12674349: remove after assistive text util is added */
:host([data-render-mode="shadow"]) .kdds-assistive-text {
  position: absolute !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  width: 1px !important;
  height: 1px !important;
  overflow: hidden !important;
  clip: rect(0 0 0 0) !important;
  text-transform: none !important;
  white-space: nowrap !important;
}
/* TODO W-12674349: remove after text utils are added */
:host([data-render-mode="shadow"]) .kdds-text-heading_small {
  font-size: var(--kdds-g-font-scale-2);
  line-height: var(--kdds-g-font-lineheight-2);
}
/* TODO W-12674349: remove after alert is added */
:host([data-render-mode="shadow"]) .kdds-notify__close {
  position: absolute;
  top: 50%;
  right: var(--kdds-g-spacing-3);
  margin-inline-start: var(--kdds-g-spacing-1);
  transform: translateY(-50%);
}
